/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
tests/build/tests/coverage.txt
tests/build/tests/report.junit.xml
tests/build/tests/coverage/dashboard.html
tests/build/tests/coverage/index.html
tests/build/tests/coverage/SingleRequestCache.php.html
tests/build/tests/coverage/Facades/dashboard.html
tests/build/tests/coverage/Facades/index.html
tests/build/tests/coverage/Facades/SingleRequestCache.php.html
tests/build/tests/coverage/Providers/dashboard.html
tests/build/tests/coverage/Providers/index.html
tests/build/tests/coverage/Providers/SingleRequestCacheServiceProvider.php.html
tests/build/tests/coverage/_css/bootstrap.min.css
tests/build/tests/coverage/_css/custom.css
tests/build/tests/coverage/_css/nv.d3.min.css
tests/build/tests/coverage/_css/octicons.css
tests/build/tests/coverage/_css/style.css
tests/build/tests/coverage/_icons/file-code.svg
tests/build/tests/coverage/_icons/file-directory.svg
tests/build/tests/coverage/_js/bootstrap.min.js
tests/build/tests/coverage/_js/d3.min.js
tests/build/tests/coverage/_js/file.js
tests/build/tests/coverage/_js/jquery.min.js
tests/build/tests/coverage/_js/nv.d3.min.js
tests/build/tests/coverage/_js/popper.min.js
tests/build/tests/logs/clover.xml
